<div class="outer">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <h3 class="pt-3 font weight-bold center-heading"> CREATE ACCOUNT</h3>
          <div class="panel-body p-3">
            <form [formGroup]="SignUpForm">
              <div class="form-group pt-3">
                <div class="input-field"
                  [class.error]="SignUpForm.controls['username'].dirty && SignUpForm.hasError('required','username')">
                  <input id="username" type="text" formControlName="username" class="form-control"
                    placeholder="Username">
                </div>
                <small *ngIf="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','username')"
                  class="text-danger">*Username is required </small>

                <!-- <div class="input-field">
                  <input type="text"
                  formControlName="lastName"
                  [ngClass]="{'is-invalid':submitted && SignUpForm.controls.lastName.errors}"
                  class="form-control"
                   placeholder="last Name">
                </div> -->

                <div class="input-field"
                  [class.error]="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','email')">
                  <input id="email" type="text" formControlName="email" class="form-control" placeholder="Your Email">
                </div>
                <small *ngIf="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','email')"
                  class="text-danger">*Email is required </small>


                <div class="input-field"
                  [class.error]="SignUpForm.controls['password'].dirty && SignUpForm.hasError('required','password')">
                  <input [type]="type" id="Password"
                  placeholder="Confirm Password"

                    class="form-control"
                    required/>
                  <span (click)="hideShowPass()" class="fa {{ eyeIcon }}"></span>
                </div>
                <small *ngIf="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','email')"
                  class="text-danger">*Password is required </small>

                  <div class="input-field"
                  [class.error]="SignUpForm.controls['password'].dirty && SignUpForm.hasError('required','password')">
                  <input [type]="type" id="Password"
                  placeholder="Password"
                    formControlName="password"
                    class="form-control"
                    required/>
                  <span (click)="hideShowPass()" class="fa {{ eyeIcon }}"></span>
                </div>
                <small *ngIf="SignUpForm.controls['email'].dirty && SignUpForm.hasError('required','email')"
                  class="text-danger">*Password is required </small>

                <div class="row">
                  <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 width-100">
                    Sign Up
                  </button>
                  <div class="text-center pt-4 text-muted">
                    Already have account?
                    <a routerLink="/login">LogIn</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
