 .about-image{
  background-image:url(/assets/images/whatiscrowdfunding.jpg);
 background-size: cover;
 background-repeat:no-repeat;
 background-position: center;
// position: fixed;
top: 20;
left: 0;
 width: 100%;
 height: 550px;
 opacity: 1.0px;
}
body{
  margin: 0;
  padding: 0;
}

// .about-image{
//   width: 100%;
//   max-width: 800px;

// }
.aboutsharedimg{
  max-width: 100%;
  height: auto;
  background-size: cover;
  margin: 30px;;
  padding: 30px;
  display: block;
}
@media (max-width:800px){
.about-image-container{
  max-width:100%;
}}
.bi{
  padding: 10px;
  color: blue;
}
.column-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#services{
  background-color:rgb(172, 181, 248);
  height: 100%;
  border-radius: 10px;
}
