<!-- navigation -->

<section>
  <nav class="navbar navbar-expand-lg text-white bg-white">
    <div class="container-fluid">
      <img src="assets/images/logothrivematch1.png" class="logothrivematch1" />
      <button class="navbar-toggler" type="button" style="background-color:transparent; box-shadow:none;"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            ThriveMatch
          </h5>
          <button type="button" class="btn-close  shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- links -->
        <div class="links d-flex flex-column flex-lg-row p-4">
          <ul class="navbar-nav justify-content-center  align-items-center fs-5 flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
<hr>

<!-- team -->
<section>
  <div class="row">
    <div class=" column-container col-6 ">
      <img src="assets/images/team.jpg" class="aboutsharedimg" style=" margin-left: 15px;">
    </div>
    <div class=" column-container col-6">
      <p style="margin-left: 20px;  text-align: center;">
        ThriveMatch was founded by a team of experienced entreprenuers and tech experts who recognzized a need for a
        more efficient way to connect investors with a promising start-ups.With a shared passion for innovation and a
        deep understanding of the start-up ecosytem,they set out to create a platform that would facilitate meaningful
        connections and help drive growth for both investors and entreprenuers.
      </p>
    </div>
  </div>

</section>

<!-- service -->

<section class="service pb-3 ">
  <div class="container">
    <h2 class="text-center text-darkpt-3" id="service">Our Services</h2>
    <p class="lead text-center mb-4 text-dark">
      What would ThriveMatch do for you?
    </p>

    <div class="row g-4">
      <div class="col">
        <div class="flex-fill" id="services">
          <div class="card-body text-center">
            <h3 class="card-title mb-3">
              Connect with Elite Investors and Startups
            </h3>
            <p class="card-text">
              We provide a curated list of investors and start-ups for business
              seeking funding,increasing the likelihood of successful
              partnership
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="flex-fill" id="services">
          <div class="card-body text-center">
            <h3 class="card-title mb-3">MatchMaking and Networking</h3>
            <p class="card-text">
              Avail cards with detailed Informations about investors and
              start-ups,helping you make informed decisions in the world of
              business
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="flex-fill" id="services">
          <div class="card-body text-center">
            <h3 class="card-title mb-3">Portfolio Management</h3>
            <p class="card-text">
              Investors are able to track their investments ,monitor perfomance
              and receive updates form their invested start-ups
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="flex-fill" id="services">
          <div class="card-body text-center">
            <h3 class="card-title mb-3">Instant Communication</h3>
            <p class="card-text">
              Our Live chat services offers personalized communication channel
              allowing startups and investors to engage with potentials clients
              establishing relationships
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Our Vision -->
<section>
  <div class="row" style="width: 100%; background-color: rgb(198, 226, 251); ">
    <h3 style="font-weight: bolder;  padding-bottom: 10px; padding-top: 10px;">Our Vision</h3>
    <div class="content" style="margin-left: 10px;">
      <p>
        At ThriveMatch, our vision is to create a world where investors and entreprenuers can easily connect and
        collaborate.We believe in empowerin startsups by providing thema with with access to the right investors and
        resources to help them thrive.Our ultimate goal is to foster a culture of invovation and progress by enabling
        the growth of promising new Ventures.
      </p>
      <p>
        Let's talk
      </p>

      <p><b>
          thrivematch100@gmail.com
        </b>
      </p>
    </div>
    <div>
    </div>

    <p class="socials" style="padding-left: 20px;">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-youtube"></i>
    </p>

  </div>
</section>
<!-- footer -->
<app-footer></app-footer>
